<template>
  <v-col cols="4"  class="card-notice-item"  >
    <v-card class="mx-auto" max-width="372" outlined>
        <div class="item-box">
          <v-list-item three-line style="align-items: flex-start; padding-top: 15px">
            <v-list-item-avatar style="margin: 0px 0 0 16px;">
              <img class="card_content_img" src="@/assets/images/users/user-1.png"/>
            </v-list-item-avatar>
            <v-list-item-content class="notice-card-content">
              <div class="notice-card-title">
                {{notice.title}}
              </div>
              <div class="notice-card-test">Test Name</div>
              <div class="card_content">{{notice.messages}}</div>
              <div class="card_content_date">{{date}}</div>
            </v-list-item-content>
            <v-menu>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                    width="auto"
                    height="auto"
                    max-width="50"
                    icon
                    v-bind="attrs"
                    v-on="on"
                >
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item>
                  <v-list-item-title style="cursor: pointer"  @click="openEditModal">Edit</v-list-item-title>
                </v-list-item>
                <v-list-item>
                  <v-list-item-title style="cursor: pointer" @click="openDeleteModal">Delete</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-list-item>
        </div>
    </v-card>
  </v-col>

</template>

<script>
export default {
  name: "NoticeItems",
  data:()=>{
    return     {
    }
},
  props:{
    notice:{
      type:Object,
      required:true,
    }
  },
  computed:{
    date(){
      return new Date(this.notice.date).toDateString()
    }
  },
  methods:{
    openEditModal(){
      this.$emit('editNotice',this.notice)
    },
    openDeleteModal(){
      this.$emit('deleteNotice',this.notice)
    }
  },
}
</script>

<style scoped>
.item-box{
  height: 100%;
  min-height: 136px;
}
</style>
