<template>
  <div class="d-flex flex-column">
      <div class="notice_board_title d-flex justify-content-between ">
        <p>NoticeBoard</p>
        <BaseButton v-if="getNotice.length>0" @click="openModal">
          <span class="mdi mdi-plus-circle-outline add_notice_button_icon"></span>
          <span class="add_notice_button_text">Add Notice</span>
        </BaseButton>
      </div>
      <div class="notice_board flex-grow-1">
           <div  v-if="getNotice.length>0" >
             <v-tabs style="border-bottom:4px inset">
               <v-tab>Newest</v-tab>
               <v-tab>Oldest</v-tab>
               <v-tab>Unread</v-tab>
             </v-tabs>
             <div class="d-flex row notice-item">
               <NoticeItems v-for="(item) in getNotice "
                            :notice="item"
                            :key="item.date"
                            @editNotice="editNotice"
                            @deleteNotice="openDeleteModal"
               />
             </div>
           </div>
           <div v-else  >
             <div  style="margin-top: 166px">
               <div style="font-size: 29px" class="mdi mdi-note-text-outline d-flex justify-content-center"></div>
               <div class="empty-notice-text" >There is no notice</div>
               <div class="empty-notice-desc" >Any notices from you will be shown to the <br> Notice board of your employees.</div>
               <BaseButton btnClass="new-notice-button" @click="openModal">
                 <span class="new-notice-button-text">Create New Notice</span>
               </BaseButton>
             </div>
             <v-col cols="12">
             </v-col>
           </div>
        <Modal v-model="visible" @close="close" :width="`401`">
          <template v-slot:header ><span style=" color: #FF0000;">Delete noticeboard?</span></template>
          <template v-slot:body> <span class="modal-body">Are you sure you want to delete this noticeboard?</span>  </template>
          <template v-slot:footer>
            <div class="d-flex">
              <BaseButton @click="deleteNoticeItem" btnClass="modal-delete-button"><span class="modal-delete-button-text">Delete</span></BaseButton>
              <span @click="close" class="modal-delete-cancel">Cancel</span>
            </div>
          </template>
        </Modal>
       <NoticeModal :is-new-notice="isNewNotice" :notice-item="currentNoticeItem"  :modal-title="modalTitle" @save="saveNotice" />
      </div>
  </div>
</template>

<script>
import { mapActions,mapGetters,mapMutations} from 'vuex';
import NoticeItems from "@/views/NoticeBoard/NoticeItems"
import NoticeModal from "@/components/models/NoticeModal";
import Modal from "@/components/BaseComponents/Modal";
import BaseButton from "@/components/BaseComponents/BaseButton";
export default {
  name: "NoticeBoard",
  components:{
    BaseButton,
    Modal,
    NoticeItems,
    NoticeModal
  },
  data:()=>{
    return{
      modalTitle:'Create a new Notice',
      currentNoticeItem : null,
      visible:false,
      isNewNotice:false,
      removeNoticeItem:null
    }
},
computed:{
  ...mapGetters('notice', ['getNotice']),
  ...mapMutations('notice', ['deleteNotice']),
},

  methods:{
    ...mapActions('notice',['setAllNotice']),
    openModal(){
      this.isNewNotice = true
      this.modalTitle='Create a new Notice'
      this.currentNoticeItem = null
      this.$store.commit('notice/showDialog')
    },
    saveNotice(value) {
      this.currentNoticeItem ?this.$store.commit('notice/updateNotice',value) :this.$store.commit('notice/setNotice',value)
    },
    editNotice(notice){
      this.isNewNotice =false
      this.modalTitle ='Edit Notice'
      this.currentNoticeItem = notice
      this.$store.commit('notice/showDialog')
    },
    deleteNoticeItem(){
      this.$store.commit('notice/deleteNotice',this.removeNoticeItem)
      this.visible = false;
    },
    openDeleteModal(notice) {
      this.removeNoticeItem = notice
      this.visible = true;
    },
    close() {
      this.visible = false;
    },
  }
}
</script>

<style scoped>

</style>
