Sure, here is an example of a pageNotFound template with Vuetify:

php
Copy code
<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card>
          <v-card-title class="text-h5">
            Page Not Found
          </v-card-title>
          <v-card-text>
            <p>Sorry, the page you are looking for could not be found.</p>
          </v-card-text>
          <v-card-actions>
            <router-link to="/"><button class="btn btn-primary" >Go To Home</button></router-link>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "PageNotFound"
}
</script>

<style scoped>

</style>
