<template>
    <v-navigation-drawer v-model="drawer" :fixed="fixed"
                         touchless hide-overlay
                         disable-resize-watcher
                         :permanent="permanent"
                         width="260px" height="100vh" left color="#2F3043">
      <v-list>
        <v-list-item class="native_logo"> <img src="@/assets/images/logos/native-teams-logo-white.svg"  /></v-list-item>
        <v-list-item  active-class="side_bar_active_class" class="side_bar_absence"  link to="/">
          <v-icon color="#FFFFFF"> mdi mdi-home-outline</v-icon>
          <v-list-item-title class="side_bar_absence_title">Absence Management</v-list-item-title>
        </v-list-item>
        <v-list-item class="slid_bar_sub_item">
          <v-list-item-title  class="side_bar_sub_title" >TEAM MANAGEMENT</v-list-item-title>
        </v-list-item>
        <v-divider class="side_bar_divider"/>
        <v-list-item active-class="side_bar_active_class" style="color:#FFFFFF; padding-left: 42px" link  to="/notice-board">
          <v-icon color="#FFFFFF">mdi mdi-note-text-outline</v-icon>
          <v-list-item-title class="side_bar_absence_notice" >Noticeboard</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
</template>
<script>
export default {
  name: "SideBar",
  data() {
    return {
      drawer: false,
      fixed: false,
      permanent: false,
      windowWidth: window.innerWidth
    }
  },
  created() {
        this.drawer = this.windowWidth >= 1040
        this.fixed = this.windowWidth < 1040
        this.permanent = this.windowWidth >= 1040
  },
  mounted() {
    window.addEventListener('resize', this.handleResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    handleResize() {
      this.windowWidth = window.innerWidth
    }
  },
  watch: {
    windowWidth(width) {
      this.permanent = this.windowWidth >= 1040
      this.drawer = width >= 1040
      this.fixed = width < 1040
    }
  },
}
</script>

<style scoped>

</style>
