<template>
    <button @click="handleClick" :class="[btnClass]" class="btn">
      <slot></slot>
    </button>
</template>

<script>
export default {
  name: "BaseButton",
  props:{
    btnClass:{
      type:String,
      required:false
    }
  },
  methods:{
    handleClick() {
      this.$emit('click')
    }
  }
}
</script>

<style scoped>
.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 15px;
  height: 33px;
  left: 514px;
  bottom: 32px;
  border-radius: 5px;
  background: #5152FB;
}
</style>
