<template>
  <v-row justify="center">
    <v-dialog
        v-model="modalOpen"
        persistent
        :max-width="width"
            >
      <v-card>
        <header class="modal-header" id="modalTitle">
          <slot name="header"> Default Header </slot>
          <div>
            <span @click="close()"  class="mdi mdi-close  close"></span>
          </div>
        </header>

        <main id="modalDescription" class="modal-main">
          <slot name="body"> Default body content </slot>
        </main>

        <footer class="modal-footer" >
          <slot name="footer"> Default body content </slot>
        </footer>
      </v-card>
    </v-dialog>
  </v-row>
</template>


<script>
export default {
  name: "Modal",
  data:()=>{
    return{
      modalOpen:false
    }
  },
  props:{
    value:{
      type:Boolean,
      default: false
    },
    width:{
      type:String
    },
  },
  created() {
    this.modalOpen = this.value
  },
  methods:{
    close() {
      this.$emit("close");
    },
  },
  watch:{
    value(newValue){
      this.modalOpen = newValue
    }
  }
}
</script>

<style scoped>

</style>
