<template>
  <div class="d-flex flex-column">
    <div class="absence_management_title d-flex justify-content-between ">
      <p>Absence Management</p>
    </div>
      <ToDay v-if="!isSelectedDate"/>
      <SelectedDay v-else
                   @goToDay="goToDay"
                   :events="selectedDate"
      />
    <div style="margin-top: 1px">
      <div class="data-picker-box">
        <v-menu v-if="!isSelectedDate" >
          <template v-slot:activator="{ on, attrs }">
            <v-btn height="38px"
                   style="border: 1px solid #E6E6E6; background: #ffffff; width: 220px"
                v-bind="attrs"
                v-on="on"
            >
              <p class="data-picker-btn-name">{{dataPicker}}</p>
              <span  class="mdi mdi-chevron-down color-black"></span>
            </v-btn>
          </template>
          <v-list>
            <v-date-picker v-model="picker" type="month"></v-date-picker>
          </v-list>
        </v-menu>
        <v-container v-else>
          <v-row align="center" style="justify-content: center">
            <v-col
                class="d-flex justify-content-end"
                cols="2"
            >
              <v-select
                  :items="months"
                  v-model="selectedMonth"
                  label=""
                  style="max-width: 116px; width: 100% ;font-weight: 500;font-size: 20px;line-height: 100%"
                  dense
              ></v-select>
            </v-col>

            <v-col
                class="d-flex"
                cols="2"
            >
              <v-select
                  :items="years"
                  v-model="selectedYear"
                  style="max-width: 116px; width: 100% ;font-weight: 500;font-size: 20px;line-height: 100%"
                  dense
              ></v-select>
            </v-col>

          </v-row>
        </v-container>
      </div>
      <div>
      </div>
      <CalendarDayName style="margin-top: 1px" />
      <div class="d-flex" v-for="(week, index) in weeks" :key="index">
        <CalendarDay  v-for="(date, dayIndex) in week"
                      :key="dayIndex"
                      :selected-day="selectedDay"
                      :date="date"
                      @clickDay="clickDay(date)"
        />
      </div>
    </div>
  </div>

</template>

<script>
import absenceData from "@/json/absenceManagement.json"
import CalendarDayName from "@/views/AbsenceManagement/CalendarDayName";
import CalendarDay from "@/views/AbsenceManagement/CalendarDay";
import ToDay from "@/views/AbsenceManagement/ToDay";
import SelectedDay from "@/views/AbsenceManagement/SelectedDay";
export default {
  components:{
    SelectedDay,
    CalendarDayName,
    CalendarDay,
    ToDay
  },
  data() {
    return {
      picker: new Date().toISOString().substr(0, 7),
      dataPicker:null,
      fullMonthName: new Date().toLocaleDateString('en-US', { month: 'long'}),
      menuOpen:false,
      selectedDay:null,
      events:null,
      currentYear: new Date().getFullYear(),
      currentMonth: new Date().getMonth(),
      currentDate: new Date().getDate(),
      selectedYear: null,
      selectedMonth: null,
      months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
      selectedDate: null,
      isSelectedDate: null,
      absenceData
    }
  },
  created() {
    this.setEvents()
  },
  mounted() {
    this.selectedYear = this.currentYear;
    this.selectedMonth = this.months[this.currentMonth];
    this.dataPicker = `${this.fullMonthName},${this.currentYear}`
  },
  computed: {
    next_year() {
      var todayDate = new Date();
      return todayDate.getFullYear()+50;
    },
    years() {
      var yearsRange = [];
      for(var i=0; i<100; i++) {
        yearsRange.push(this.next_year-i);
      }

      return yearsRange;
    },
    weeks() {
      const firstDayOfMonth = new Date(this.currentYear, this.currentMonth, 1)
      const lastDayOfMonth = new Date(this.currentYear, this.currentMonth + 1, 0)
      const daysInMonth = lastDayOfMonth.getDate()
      const firstDayOfWeek = (firstDayOfMonth.getDay() + 6) % 7 // shift 1 day forward to start on Monday
      const weeks = []
      let events= null
      let week = []
      let dayIndex = 1 - firstDayOfWeek // index for the first day displayed in the table

      // add previous month days to the first week
      for (; dayIndex <= 0; dayIndex++) {
        const prevMonthLastDay = new Date(this.currentYear, this.currentMonth, 0).getDate()
        const date = prevMonthLastDay + dayIndex
        let prevFullDate = new Date(this.currentYear,this.currentMonth-1,date+1).toISOString().substring(0,10)
        week.push({ date, isCurrentMonth: false, isToday: false,  fullDate:prevFullDate, events})
      }

      // add current month days
      for (; dayIndex <= daysInMonth; dayIndex++) {
        const date = dayIndex
        let currentFullDate = new Date(this.currentYear,this.currentMonth,date+1).toISOString().substring(0,10)
        events=this.setEvent(currentFullDate)
        week.push({ date, isCurrentMonth: true, isToday: this.isToday(this.currentYear, this.currentMonth, date) ,fullDate:currentFullDate ,events })

        if (week.length === 7) {
          weeks.push(week)
          week = []
        }
      }

      // add next month days to fill out the last week
      if (week.length > 0) {
        // const nextMonthFirstDay = new Date(this.currentYear, this.currentMonth + 1, 1)
        const daysToAdd = 7 - week.length
        for (let i = 1; i <= daysToAdd; i++) {
          const date = i
          let nextFullDate = new Date(this.currentYear,this.currentMonth+1,date+1).toISOString().substring(0,10)
          events=this.setEvent(nextFullDate)
          week.push({ date, isCurrentMonth: false, isToday: false, fullDate:nextFullDate, events })
        }
      }

      weeks.push(week)
      return weeks
    },
  },
  methods: {
    clickDay(date){
      this.isSelectedDate = true
      this.selectedDay = date.fullDate
      this.selectedDate = date
    },
    goToDay(){
      const selectedDate = new Date()
      let month =selectedDate.toLocaleDateString('en-US', { month: 'long' })
      this.dataPicker =  `${month},${this.currentYear}`
      this.currentYear = selectedDate.getFullYear()
      this.currentMonth = selectedDate.getMonth()
      this.currentDate = selectedDate.getDate()
      this.selectedYear = this.currentYear
      this.selectedMonth = this.months[this.currentMonth]
      this.isSelectedDate = false
      this.selectedDay = null
      this.selectedDate = null
    },
    setEvents(){
      let id = 1
      for (let absenceDataKey in this.absenceData) {
       if(this.absenceData[absenceDataKey][id]  && this.absenceData[absenceDataKey][id].events.length>0){
           this.events = this.absenceData[absenceDataKey][id]
       }
      }
    },
    setEvent(date){
      let day = new Date(date).valueOf()
      let startDay = null
      let event = null
      let endDay = null
      if (this.events){
        for (let eventsKey in this.events) {
          this.events[eventsKey].forEach(i=>{
            startDay = new Date(i.start_date).valueOf()
            endDay = new Date(i.end_date).valueOf()
            if(day >=startDay  && day<=endDay){
              event = i
              return event
            }
          })
        }
        return event
      }
    },
    isToday(year, month, date) {
      const today = new Date()
      return year === today.getFullYear() && month === today.getMonth() && date === today.getDate()
    },
    updateCalendar(data) {
      const selectedDate = new Date(data)
      let month =new Date(this.picker).toLocaleDateString('en-US', { month: 'long' })
      this.dataPicker =  `${month},${this.currentYear}`
      this.currentYear = selectedDate.getFullYear()
      this.currentMonth = selectedDate.getMonth()
      this.currentDate = selectedDate.getDate()
      this.selectedYear = this.currentYear
      this.selectedMonth = this.months[this.currentMonth]
    },
  },
  watch:{
    picker:{
      handler(){
        this.updateCalendar(this.picker)
      }
    },
    selectedYear:{
      handler(){
        let date = `${this.selectedYear} ${this.selectedMonth}`
        this.updateCalendar(date)
      }
    },
    selectedMonth:{
      handler(){
        let date = `${this.selectedYear} ${this.selectedMonth}`
        this.updateCalendar(date)
      }
    }
  }
}
</script>

<style scoped>
.data-picker-box{
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Small */
      height: 68px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}
.data-picker-btn-name{
  width: 180px;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
}
</style>

