<template>
      <div :class="[date.isToday?'current-day':'',eventsTypeClass, isSelected ? 'selected-day':'']"  class="calendar-day" @click="$emit('clickDay')">
        <div :class="start_dates"></div>
        <div>
          <span :class="[!date.isCurrentMonth? 'month':'', date.isToday ? 'today':'', eventDay]"
                        class="days d-flex">{{date.date}}</span>
          <span :class="eventsTitle" class="events-title d-flex" v-if="date.events">{{date.events.title}}</span>
          <span class="events-title d-flex" v-if="date.isToday">ToDay</span>
          <div class="d-flex row" style="margin: 0 -4px" v-if="date.events">
            <EventsStatus  :is-selected="isSelected"  :status-type="date.events.status"/>
            <EventsTypeName :events="date.events" :is-selected="isSelected"/>
          </div>
          <div v-if="date.events && date.events.type==='sick'" class="d-flex row" style="margin: 8px -4px 0 -4px">
            <EventsType v-for="(type,index) in eventsTypeArr" :key="index" :event-type="type" :content="7" />
          </div>
        </div>
      </div>
</template>

<script>
import EventsType from "@/views/AbsenceManagement/EventsType";
import EventsStatus from "@/views/AbsenceManagement/EventsStatus";
import EventsTypeName from "@/views/AbsenceManagement/EventsTypeName";
export default {
  name: "CalendarDay",
  components:{
    EventsType,
    EventsStatus,
    EventsTypeName
  },
  props:{
    date:{
      type:Object,
      required:true
    },
    selectedDay:{
      type:String,
      required: false,
    }
  },
  data:()=>{
    return{
      eventsTypeArr: ['sick','public','annual']
    }
  },
  computed:{
    isSelected() {
      let selected = false
      if(this.selectedDay){
         selected = this.selectedDay === this.date.fullDate
      }
      return selected
    },
    eventDay(){
      let className = null
      let startDate = null
      if (this.date.events){
        switch (this.date.events.type){
          case 'public':
            return className ='public_day'
          case 'sick':
            return className = 'sick_day'
          case 'annual':
            startDate = new Date(this.date.events.start_date).getDate()
            if(this.date.date ===startDate){
              className ='start_annual_day'
            }else{
              className ='annual_day'
            }
            return className
          default:
            return className
        }
      }
      return className
    },
    start_dates(){
      let className = null
      let startDate = null
      if (this.date.events){
        switch (this.date.events.type){
          case 'public':
            return className ='start_date_public'
          case 'sick':
            return className = 'start_date_sick'
          case 'annual':
            startDate = new Date(this.date.events.start_date).getDate()
            if(this.date.date ===startDate){
               className ='start_date_annual'
            }
            return className
          default:
            return className
        }
      }
      return className
    },
    eventsTypeClass(){
      let className =null
      let endDate = null
      if (this.date.events){
        switch (this.date.events.type){
          case 'public':
            return className = 'public'
          case 'sick':
            return className = 'sick'
          case 'annual':
            endDate = new Date(this.date.events.end_date).getDate()
            if(this.date.date ===endDate){
              return className ='annual_end_date'
            }
            return className = 'annual'
          default:
            return className
        }
      }
      return className
    },
    eventsTitle(){
      let className = null
      if(this.date.events.type && this.date.events.type==='annual'){
        if(this.date.date !== new Date(this.date.events.start_date).getDate()) {
          return className = 'events_annual_title'
        }
      }
      return className
    }
  },

}
</script>

<style scoped>
    .calendar-day{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 8px 8px 8px 0px;
      gap: 6px;
      width: 100%;
      max-width:14.29%;
      height: 125px;
      background: #FFFFFF;
      border-right: 1px solid #F5F5F5;
      flex: 0 0 14.29%;
      order: 0;
      align-self: stretch;
      flex-grow: 1;
    }
    .days{
      height: 20px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #000000;
      flex: none;
      order: 0;
      flex-grow: 1;
    }
    .current-day{
      background: #FFFFFF;
      border: 1px solid #FDBC42;
      border-radius: 4px;
    }
    .month{
      color: #A8A8A8;
    }
    .today{
      font-weight: 500;
    }
    .sick{
      background: rgba(255, 0, 0, 0.05);
      border-right: 1px solid #FF0000;
    }
    .public{
      background: rgba(48, 179, 98, 0.05);
      border-right: 1px solid #30B362;

    }
    .start_date_annual{
      width: 2px;
      height: 109px;
      background: #5152FB;
      border-radius: 4px;
      padding-left: 2px;
    }
    .start_date_public{
      padding-left: 2px;
      height: 109px;
      background: #30B362;
      border-radius: 4px;
    }
    .start_date_sick{
      padding-left: 2px;
      height: 109px;
      background: #FF0000;
      border-radius: 4px;
    }
    .annual{
      background: rgba(81, 82, 251, 0.05);
      align-self: stretch;
      flex-grow: 1;
    }
    .annual_end_date{
      background: rgba(81, 82, 251, 0.05);
      border-right: 1px solid #5152FB;
      border-radius: 4px;
    }
    .events-title{
      width: 100%;
      height: 21px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: #000000;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
    .sick_day{
      font-weight: 500;
      color: #FF0000;
      flex-grow: 0;
    }
    .public_day{
      color: #30B362;
      font-weight: 500;
      flex-grow: 0;
    }
    .start_annual_day{
      font-weight: 500;
      color: #5152FB;
      flex-grow: 0;
    }
    .annual_day{
      color: #D3D3D3;
      font-weight: 500;
      flex-grow: 0;
    }
    .events_annual_title{
      color: #D3D3D3;
    }
    .selected-day{
      border: 2px solid #5152FB;
      border-radius: 4px;
      background: rgba(81, 82, 251, 0.05);
    }
</style>
