<template>
  <div class="d-flex">
    <div class="calendar-day-name " v-for="(day,index) in days" :style="currentDay===day? 'background: #FBFCFC':''" :key="index">
      <span :class="dayClass(day)" class="calendar-day-text">{{day}}</span>
    </div>
  </div>

</template>

<script>
export default {
  name: "CalendarDayName",
  data:()=>{
    return{
      currentDay:null,
      className:null,
      currentDate:new Date(),
      days: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat','Sun'],
      options:{
        weekday: 'long'
      }

    }
  },
  mounted() {
    this.currentDay = (this.currentDate.toLocaleDateString('en-US', this.options)).slice(0,3);
  },
  methods:{
        dayClass(day){
            switch (day){
              case this.currentDay:
                return 'current-day'
              case 'Sat':
              case 'Sun':
                return 'weekend';
              default:
                return 'day'
            }
        }
  }
}
</script>

<style scoped>
.current-day{
   color: #5152FB;
  font-weight: 500;
}
.day{
  color: #000000;
}
.weekend{
  color: #4D4D4D;
}
</style>
