<template>
  <div class="events-status-wrapper">
    <div :class="iconBox" :style="size" class="events-status">
      <div :class="getIcon"></div>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "EventsStatus",
  props:{
    isSelected:{
      type:Boolean,
      default:false,
      required:false
    },
    statusType:{
      type:String,
      required: true
    },
    height:{
      type:String,
      required: false
    }

  },
  computed:{
    getIcon(){
      let className = null
      switch (this.statusType){
        case 'pending':
          if (!this.isSelected){
            className = 'mdi mdi-dots-horizontal-circle-outline pending-icon'
          }else{
            className = 'mdi mdi-dots-horizontal-circle-outline button-disabled'
          }
          return className
        case 'success':
          if(!this.isSelected){
            className = 'mdi mdi-check-circle-outline success-icon'
          }else{
            className = 'mdi mdi-check-circle-outline button-disabled'
          }
          return className
      }
      return className
    },
    iconBox(){
      let className ='events-status-disabled';
      if(this.isSelected){
        switch (this.statusType){
          case 'pending':
              className = 'events-pending-selected'
            return className
          case 'success':
              className = 'events-success-selected'
            return className
        }
      }
      return className
    },
    size(){
      let height = null
      if (this.height){
        height= 'height:' + this.height
      }
      return height
    }
  },
}
</script>

<style scoped>
.events-status{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  /*gap: 4px;*/
  width: fit-content;
  height: 20px;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.events-status-disabled{
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
}
.events-pending-selected{
  background: #FDBC42;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
}
.events-success-selected{
  background: #30B362;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
}
.button-disabled{
  color: #FFFFFF;
}
.pending-icon{
   color: #FDBC42;
 }

.success-icon{
   color: #30B362;
 }
.events-status-wrapper{
  padding:0 4px;
}
</style>
