<template>
  <div class="events-type-wrapper">
    <div class="events-type">
      <div :class="dotColor" class="dot"></div>
      <p style="padding-left: 2px">{{content}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "EventsType",
  props:{
    eventType:{
      types:String,
      required:true,
    },
    content:{
      types:String,
      required:true,
    }

  },
  computed:{
    dotColor(){
      let className =null
      switch (this.eventType){
        case "sick":
          return className ='dot-sick'
        case className  = "public":
          return className = 'dot-public'
        case "annual":
          return className = 'dot-annual'
      }
      return className
    }
  }
}
</script>

<style scoped>
.dot{
  width: 8px;
  height: 8px;
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.dot-sick{
  background: #FF0000;
}
.dot-public{
  background: #30B362;
}
.dot-annual{
  background: #5152FB;
}
.events-type{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 2px;
  width: fit-content;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
/*.events-type:nth-child(2){*/
/*  margin-left: 8px;*/
/*  margin-right: 8px;*/
/*}*/
.events-type-wrapper{
  padding: 0 4px;
}
</style>
