<template>
  <div class="name-box-wrapper">
    <div :class="selectedBox" :style="height? `height: ${height}`:''" class="name-box">
      <p :class="selectedTitle" :style="font?`font-size: ${font}`:''"  class="ev-title">{{title}}</p>
    </div>
  </div>

</template>

<script>
export default {
  name: "EventsTypeName",
  props:{
    events:{
      type:Object,
      required:true
    },
    isSelected:{
      type:Boolean,
      required: false
    },
    font:{
      type:String,
      required:false
    },
    height:{
      type:String,
      required:false
    }
  },
  computed:{
    title(){
      let title = null
      switch (this.events.type){
        case 'public':
          title = 'public holiday'
              return title
        case 'sick':
          title = 'sick live'
              return title
        case 'annual':
          title = 'annual live'
              return title
      }
      return title
    },
    selectedBox(){
      let className = null
      if (this.isSelected){
        switch (this.events.type){
          case 'public':
            className = 'selected-public-box'
                return className
          case 'annual':
            className = 'selected-annual-box'
                return className
          case 'sick':
            className = 'selected-sick-box'
                return className
          }
        }
      return className
      },
    selectedTitle(){
      let className = null
      if (this.isSelected){
        className = 'selected-title'
        }
      return className
      },
      size(){
      let font = null
        if(this.font){
         font = font + ';' + 'font-size:' + this.font
        }
        return font
      }
  }
}
</script>

<style scoped>
  .name-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .ev-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    font-size: 10px;
    align-items: center;
    text-transform: uppercase;
    color: #4D4D4D;
  ;
  }
  .selected-annual-box{
    background: #5152FB;
  }
  .selected-public-box{
    background: #30B362;
  }
  .selected-sick-box{
    background: #FF0000;
  }
  .selected-title{
    color: #FFFFFF;
  }
  .name-box-wrapper{
    padding: 0 4px;
  }
</style>
