<template>
  <div class="selected-day flex-grow-1">
    <div class="d-flex" :class="'go-today'" @click="$emit('goToDay')">
      <span :class="'go-today-icon'" class="mdi mdi-chevron-left"></span>
      <span >Go To Today</span>
    </div>
    <div class="selected-day-content " v-if="events.events">
      <div class="content-line"></div>
      <div class="container p-0">
        <div  class="row m-0"  >
          <div class="col-6  events-block">
            <p class="events-name">{{events.events.title}}</p>
          </div>
          <div style="justify-content: flex-end" class="col-6 d-flex ">
            <BaseButton btnClass="edit-button">
              <span class="mdi mdi-pencil-outline"></span>
              Edit Request
            </BaseButton>
            <BaseButton btnClass="delete-button">
              <span class="mdi mdi-trash-can-outline"></span>
              Delete Request
            </BaseButton>
          </div>
        </div>
        <div  class="row m-0">
          <div class="col-4 events-block-padding">
            <div class="selected-date">
              <div>
                <span style="color: #5152FB;" class="mdi mdi-calendar-today-outline"></span>
              </div>
              <p class="date-text">{{currentDateWithFormat}}</p>
            </div>
          </div>
          <div class="col-8">
            <div class="selected-note">
              <p class="note-header">Note</p>
              <p class="note-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-4 d-flex events-block-padding">
              <EventsTypeName style="margin-left: 8px" height="24px" font="16px" :events="events.events" :is-selected="true"/>
              <EventsStatus :status-type="events.events.status"  :is-selected="true" height="24px">
                <p style="color: white; padding-left: 5px">{{events.events.status}}</p>
              </EventsStatus>
          </div>
          <div class="col-8 d-flex justify-content-end">
            <div class="actions-content">
              <div class="d-flex">
                <EventsType content="public holidays" event-type="public"></EventsType>
                <EventsType style="margin-left: 8px; margin-right: 8px" content=" annual live" event-type="annual"></EventsType>
                <EventsType content=" sick live" event-type="sick"></EventsType>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="selected-day-content">
      <div  class="events-block" style="height:172px">
        <div class="events-name">There is not event for this date</div>
      </div>
    </div>

  </div>

</template>

<script>
import EventsType from "@/views/AbsenceManagement/EventsType";
import EventsTypeName from "@/views/AbsenceManagement/EventsTypeName";
import EventsStatus from "@/views/AbsenceManagement/EventsStatus";
export default {
  name: "SelectedDay",
  components:{
    EventsType,
    EventsTypeName,
    EventsStatus
  },
  props:{
    events:{
      type:Object,
      required:true
    }
  },
  computed:{
    currentDateWithFormat(){
      return  new Date(this.events.fullDate).toLocaleDateString('en-US', {weekday:'long', month: 'long', day: 'numeric', year: 'numeric' });
    },
  }
}
</script>
<style scoped>
.selected-day{
  background: #FFFFFF;
  border-radius: 4px 4px 0px 0px;
  height: 244px;
  padding: 16px;
  margin-top: 16px;
}
.selected-day-content{
  box-sizing: border-box;
  background: linear-gradient(0deg, #F6F6FF, #F6F6FF), #FFFFFF;
  border: 1px solid #F5F5F5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  display: flex;
  margin: 16px;
}
.events-block{
  padding: 24px 24px 0 24px;
}
.events-name{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #4D4D4D;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.content-line{
  width: 2px;
  height: 140px;
  background: #5152FB;
  border-radius: 4px;
  margin: 16px 0;
}
.selected-date{
  display: flex;
  margin-top: 26px;
}
.date-text{
  width: 255px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #4D4D4D;
  margin-left: 11px;

}
.selected-note{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}
.note-header{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #838A90;
}
.note-content{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.edit-button{
  padding: 8px 12px 9px;
  gap: 8px;
  width: 143px;
  background: #FFFFFF;
  border: 1px solid #5152FB;
  border-radius: 4px;
  font-size: 14px;
  line-height: 100%;
  color: #5152FB;
  margin-right: 8px;
}
.delete-button{
  padding: 8px 12px 9px;
  gap: 8px;
  width: 143px;
  background: #FFFFFF;
  border: 1px solid #FF0000;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #FF0000;
}
.actions-content{
  display: flex;
  /*margin: 16px;*/
}
.go-today{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #4D4D4D;
  flex: none;
  order: 1;
  cursor: pointer;
}
.go-today-icon{
  color: #000000;
  width: 24px;
}
.events-block-padding{
  padding-top: 0;
  padding-left: 24px;
}

</style>


