<template>
  <div class="flex-grow-1" style="background: #FFFFFF">
    <div>
      <v-tabs style="border-bottom:4px inset">
        <v-tab>Today</v-tab>
        <v-tab>Annual Leave</v-tab>
        <v-tab>Public Holidays</v-tab>
        <v-tab>Sick Days</v-tab>
        <v-tab>Requests</v-tab>
      </v-tabs>
    </div>
    <div class="d-flex row" style="margin: 13px  16px;">
      <div class="content-1 col-6">
        <div>
          <div class="content-1-title">{{currentDayName}}</div>
          <div class="d-flex" style="margin-top: 26px">
            <span class="mdi mdi-calendar-range calendar-icon"></span>
            <div class="content-1-date">{{currentDateWithFormat}}</div>
          </div>
          <div class="content-1-day-type"><span class="content-1-day-type-text">WORKDAY</span></div>
        </div>
      </div>
      <div class="col-6 events-col">
        <div class="row events-row">
          <div class="col-6 content-events">
              <div class="content-events-text">
                <span class="content-events-type-count">5<span style="color: #838A90">/24</span></span>
                <div class="content-type-text">Used Annual Allowance</div>
              </div>
          </div>
          <div class="col-6 content-events">
            <div class="content-events-text">
              <div class="events" >
                <div class="public-content-flag">
                  <img src="@/assets/images/flags/flag-armenia.svg" class="country-flag" alt="">
                  <span class="content-events-type-count">8</span>
                </div>
                <div class="content-type-text">Public Holidays</div>
              </div>
            </div>
          </div>
          <div class="col-6 content-events events-row-2">
            <div class="content-events-text">
              <span class="content-events-type-count">5</span>
              <div class="content-type-text">Sick Day Taken</div>
            </div>
          </div>
          <div class="col-6 content-events events-row-2">
            <div class="content-events-text">
              <span class="content-events-type-count" style="color: #F29D39;">2</span>
              <div class="content-type-text">Pending Days Off</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ToDay",
  computed:{
    currentDayName(){
      return   new Date().toLocaleString("default", { weekday: "long" })
    },
    currentDateWithFormat(){
      return  new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });
    },
  }
}
</script>

<style scoped>
.content-1{
  height: 172px;
  padding: 24px;
  box-sizing: border-box;
  background: linear-gradient(0deg, #FBFCFC, #FBFCFC), #FFFFFF;
  border: 1px solid #F5F5F5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
}
.content-1-title{
  width: 522px;
  height: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.content-1-date{
  width: 163px;
  height: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #4D4D4D;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 11px;
}
.calendar-icon{
  color: #5152FB;
}
.content-1-day-type{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 4px;
  width: 84px;
  height: 24px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 22px;
}
.content-1-day-type-text{
  width: fit-content;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #A8A8A8;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-events-type-count{
  width: 19px;
  height: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: right;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.content-type-text{
  width: 147px;
  height: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #838A90;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.country-flag{
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border: 1px solid #D3D3D3;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.09));
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.content-events{
  padding: 12px 0 0 8px;
}
.content-events-text{
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  height: 83px;
  padding: 15px 0 14px 16px
}
.events{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 97px;
  height: 54px;
}
.public-content-flag{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 59px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.events-col{
  padding-top: 0;
  padding-bottom: 0;
}
.events-row{
  margin-top: -12px;
  margin-bottom: -12px;
}
.events-row-2{
  padding-top: 8px;
}
</style>
