<template>
  <v-row justify="center">
    <v-dialog
        v-model="$store.getters['notice/getDialogVisible']"
        persistent
        max-width="620px"
        @click:outside="$store.commit('notice/hideDialog')"
    >
      <v-card>
        <v-card-title>
          <div class="notice-modal_title">{{modalTitle}}</div>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col class="p-0" cols="12" sm="12" md="12">
                <label style="font-size: 13px" class="font-weight-bold" for="title">Title</label>
                <input  v-model="notice.title"  id="title" class="form-control" @blur="$v.notice.title.$touch()" type="text">
                <template v-if="$v.notice.title.$error">
                    <p class="errorMessage" v-if="!$v.notice.title.required">Title is required</p>
                </template>

              </v-col>
              <v-col class="p-0 modal_item" cols="12" sm="12" md="12">
                <label style="font-size: 13px" class="font-weight-bold" for="title">Messages</label>
                <textarea id="title" v-model="notice.messages" class="form-control" @blur="$v.notice.messages.$touch()"  />

                <template v-if="$v.notice.messages.$error">
                  <p class="errorMessage" v-if="!$v.notice.messages.required">Messages is required</p>
                </template>
              </v-col>
              <v-col class="p-0 modal_item" cols="12" sm="12" md="12">
                  <p style="font-size: 13px" class="font-weight-bold">Attachments</p>
                  <p style="font-size: 14px; color: #838A90; ">Attach files to the notice so people can download them.</p>
              </v-col>
              <v-col class="p-0 modal_text_item" cols="12" sm="12" md="12" >
                <div class="upload_file">
                  <label class="file-msg"><span class="file_text_upload" >Upload</span> or Drag and drop Your File
                    <v-file-input multiple id="uploadFile" class="d-none" @blur="$v.notice.file.$touch()" v-model="notice.file"></v-file-input>
                  </label>
                  <template v-if="$v.notice.file.$error">
                    <p class="errorMessage" v-if="!$v.notice.file.required">File is required</p>
                  </template>
                </div>

              </v-col>
              <v-col class="p-0 modal_file_list" style="border-bottom: 1px inset" cols="12" sm="12" md="12" v-for="(item,index) in notice.file" :key="index">
                <div class="d-flex justify-content-between">
                  <div class="file-text"><span class="mdi mdi-note-outline"></span> <span style="margin-left: 14px">{{item.name}}</span></div>
                  <p>
                    <span style="color: #30B362" class="mdi mdi-check-circle-outline"></span>
                    <span @click="deleteFile(index)"  class="mdi mdi-close close ml-3"></span>
                  </p>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions class="modal-card-action" >
          <v-spacer></v-spacer>
          <div class="d-flex">
            <BaseButton btnClass="btn-save-draft" :disabled="isDisabled" @click="saveNotice"><span class="btn-save-draft_name">Save Draft</span></BaseButton>
            <BaseButton :disabled="$v.$invalid" @click="saveNotice"><span class="btn-text">Publish</span></BaseButton>
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import {required} from 'vuelidate/lib/validators'
export default {
  name: "NoticeModal",
  validations:{
    notice:{
      title: {required},
      messages: {required},
      file:{required}
    }
  },
  props:{
    modalTitle:{
      type:String,
      required:true
    },
    noticeItem:{
      type:Object,
      required:false
    },
    isNewNotice:{
      type:Boolean,
      default: false
    }
  },
  data:()=>{
    return {
      notice:{
        title:null,
        file:[],
        messages: null,
        date:null
      }
    }
  },
  computed:{
    isDisabled() {
      return !this.notice.title && !this.notice.messages && !this.notice.file.length
    }
  },
  methods:{
    deleteFile(index){
      this.notice.file = this.notice.file.filter(function (i,idx){
        if(idx!==index){
          return i
        }
      })
    },
    saveNotice(){
        if(this.isNewNotice){
          this.notice.date = Date.now()
        }
        this.$emit('save',this.notice)
        this.$store.commit('notice/hideDialog')
      if(this.isNewNotice){
        this.notice = {
          title:null,
          file:[],
          messages: null,
          date:null
        }
      }
    }
  },
  watch:{
    noticeItem(newValue){
      if(this.isNewNotice){
        this.notice = {
          title:null,
          file:[],
          messages: null,
          date:null
        }
      }else{
        this.notice.title = newValue.title
        this.notice.messages = newValue.messages
        this.notice.date = newValue.date
        this.notice.file = newValue.file
      }
    },
  }
}
</script>

<style scoped>
.file-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  margin-left: 14px;
}
</style>
