<template>
  <v-app>
    <component :is="layout">
      <slot />
    </component>
  </v-app>
</template>

<script>
const defaultLayout = "DashboardLayout";

export default {
  name: "App",

  computed: {
    layout() {
      const layout = this.$route.meta.layout || defaultLayout;
      return () => import(`@/layouts/${layout}.vue`);
    },
  },
};
</script>
