.card_content{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: #5A5A5A;
    padding: 10px 0 0 0;
    margin: 0!important;
}
.notice-card-test{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #838A90;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 2px 0 0 0;
}
.card_content_date{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #BEBEBE;
    padding: 24px 0 0 0;
}
.card_content_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.card_content_img{
    width: 40px;
    height: 40px;
    left: 16px;
    top: 15px;
}

.native_logo{
    width: 164px;
    height: 27px;
    padding: 24px 66px 0 30px
}
.errorMessage{
    color:red;
    padding-top: 5px;
}
.side_bar_sub_title{

    width: 127px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #DDF3FF;
    opacity: 0.5;
}

.side_bar_active_class{
    border-left: 4px solid #5152FB;
    background: #383878;
}

.upload_file{
    height: 73px;
    background: #F6F6F6;
    border: 1px dashed #838A90;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.file-msg {
    font-size: small;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.side_bar_absence{
    margin-top: 91px;
    padding-left: 42px;
    align-items: center;
    width: 260px;
    height: 42px;
}
.side_bar_absence_icon{
    padding: 13px 0 13px 0;
    color:#FFFFFF;
}
.side_bar_absence_title{
    height: 16px;
    padding-left: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.side_bar_absence_notice{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px!important;
    color: #DDF3FF;
    order: 1;
    padding-left: 12px;
}
.slid_bar_sub_item{
    padding-left: 42px;
    margin-top: 29px;
}
.side_bar_divider{
    margin-top: -10px;
    background: #48495A;
}
.notice_board_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
}
.notice_board{
    background: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    width: 100%;
    margin-top: 16px;
    height: calc(100vh - 104px) ;

}
.add_notice_button{
    display: flex;
    padding: 6px 7px 6px;
    width: 118px;
    height: 33px;
    background: #5152FB;
    border-radius: 4px;
}
.add_notice_button_text{
    width: 70px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.add_notice_button_icon{
    color: #FFFFFF;
    margin-right: 9px;
}
.row{
    margin: 0;
    margin-right: -15px;
    margin-left: -15px;
}
.notice-modal_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.file_text_upload{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #5152FB;
}
.modal_item{
    margin-top: 24px;
}
.modal_text_item{
    margin-top: 16px;
}
.modal_file_list{
    margin-top: 28px;
    margin-bottom: -10px;
}
.btn-save-draft{
    background: #FFFFFF!important;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin-right: 16px;
}
.btn-save-draft_name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #838A90;
}
.btn-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}
.modal-card-action{
    padding: 0 24px 24px 24px!important;
}
.new-notice-button-text{
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.new-notice-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    gap: 10px;
    height: 30px;
    border-radius: 5px;
    margin: auto;
    margin-top: 18px;
}
.empty-notice-text{
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #1D2C40;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.empty-notice-desc{
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}
.notice-card-title{
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.notice-card-content{
    padding: 0 0 17px 11px;
}
.notice-item{
    margin: 0;
    padding: 14px 17px 0 17px;
}

.card-notice-item{
    padding: 10px 5px 0 5px;
}
.layout-router-view{
    padding: 6px 0 0 0;
}
.modal-delete-button{
    background: #FF0000!important;
}
.modal-delete-button-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.modal-delete-cancel{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #838A90;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17px;
    cursor: pointer;
}
.close{
    color: #8F8F8F;
    cursor: pointer;
}
.modal-footer{
    justify-content: flex-start!important;
    border: none;
    padding-left:  30px;
    padding-top: 24px;
}
.modal-header{
    padding: 18px 24px 14px 30px;

}
.modal-body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #000000;
    padding: 0;
}
.modal-main{
    padding: 20px 30px 0 30px;

}
.absence_management_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
}
.calendar-day-name{
    box-sizing: border-box;
    width: 100%;
    max-width: 14.29%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 10px;
    height: 48px;
    background: #FFFFFF;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #E6E6E6;
    flex: 0 0 14.29%;
    order: 0;
    flex-grow: 1;
}
.calendar-day-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}
main::-webkit-scrollbar {
    display: none;
}
