<template>
  <div class="container-fluid">
    <div class="row">
      <SideBar/>
      <main role="main" style="max-height: 100vh" class="col-12 col-lg-9 dashboard-main ml-auto mr-auto overflow-hidden overflow-y-auto">
        <div class="container h-100">
          <div id="contentMain" class="row justify-content-center justify-content-md-between h-100">
            <router-view class="layout-router-view flex-grow-1" />
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import SideBar from "@/views/SideBar";
export default {
  components:{
    SideBar
  },
  name: "DashboardLayout",

  mounted() {
  }
};
</script>
